div {
  padding-left: 200px;
  background-color: lightblue;

}

input[type=text] {
 width: 100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline;
  border: 2px solid rgb(13, 175, 180);
  box-sizing: border-box;
}

select{
  width: 35%;
  padding: 12px 20px;
  display: inline;
  border: 2px solid rgb(13, 175, 180);
  box-sizing: border-box;
}

input[type=button] {
 padding-left: 20px;
}
